<server>

    <featureManager>
        <feature>jsp-2.3</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>

    <application name="FrontEndJDBC" context-root="/ToDoList" location="${appLocation}" type="war"/>

</server>
